body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 14px;
    color: #333;
}
h1 {
    color: #00263E;
    font-size: 24px;
    margin-bottom: 20px;
}
.table { /* For tables */
    background-color: #fff;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}
th, td { /* For table cells */
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th { /* For table headers */
    background-color: #f0f0f0;
    font-weight: bold;
}
.dns:nth-child(even) { /* For DNS even rows */
    background-color: #d0edff;
}
.dns:nth-child(odd) { /* For DNS odd rows */
    background-color: #b5d8ff;
}
.info-label { /* For labels */
    font-weight: bold;
    color: #00263E;
}
.dns_summary { /* For DNS summary */
    max-width: 300px;
    overflow-y: auto;
    word-wrap: break-word;
}
.full_info { /* For full DNS information */
    display: none;
    padding-top: 5px;
}
.expanded .full_info { /* For full DNS information when expanded */
    display: block;
}
/* CSS code for styling performance bars */
.bar {
    position: relative; /* Ajoute une position relative pour permettre le positionnement absolu du texte */
    width: 200px;
    height: 20px;
    background-color: lightgray;
    margin-bottom: 10px;
}
.cpu_bar {
    background-color: green;
}
.memory_bar {
    background-color: blue;
}
.bar::after {
    content: attr(data-percent); /* Affiche le pourcentage à partir de l'attribut data-percent */
    position: absolute; /* Positionne le pourcentage de façon absolue */
    top: 0;
    left: 50%; /* Aligne le texte au milieu de la barre */
    transform: translateX(-50%); /* Centre horizontalement le texte */
    color: black; /* Couleur du texte */
    font-weight: bold;
}
.bandwidth_rate {
    color: red;
    font-weight: bold; /* Met en gras le texte du taux de bande passante pour améliorer la visibilité */
}