<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capture DNS</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- HTML code for displaying system performance -->
    <div id="performance_info">
        <div>
            <p>CPU Usage:</p>
            <div class="bar cpu_bar" id="cpu_bar"></div>
        </div>
        <div>
            <p>Memory Usage:</p>
            <div class="bar memory_bar" id="memory_bar"></div>
        </div>
        <div>
            <p>Bandwidth Usage:</p>
            <p id="bandwidth_rate" class="bandwidth_rate"></p>
        </div>
    </div>
    <div class="container">
        <h1 class="mb-4">Capture DNS Packets</h1>
    
        <div class="table-responsive">
            <table class="table table-bordered" id="dns_table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Time</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Protocol</th>
                        <th>Length</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody id="dns_packets">

                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
